# Byte-compiled / cache
__pycache__/
*.pyc

# OS files
.DS_Store

# R artifacts
.Rhistory
.RData
.Rproj.user

# Editors/IDEs
.vscode/
.idea/

# Local data and artifacts
deidentified_sample_data/
tcsi_extracted_download _columns_for_student_use/
tcsi.db
*.xlsx
